@import "bootstrap-custom";


body {
  background-image: url("/images/curls.png");
}

.navbar {
  #navlinks {
    @extend .float-right;
    @extend .d-block;
  }
  ul {
    @extend .float-right;
  }

}

.post-meta {
  .icon {
    filter: invert(80%);
  }

  ul {
    @extend .float-right;
    display: inline;
  }

  li {
    @extend .px-1;
  }

  @extend .border-top;
  @extend .border-bottom;
  @extend .pt-2;
  @extend .pb-2;
  @extend .mb-3
}

.post-time {
  display: inline;
}
