---
layout: page.liquid
title: Home | Xen Relay
---


<h1 id="welcome-to-xen-relay">Welcome to Xen Relay</h1>

<p>This is, for now, a personal website for a person with some strange ideas, and
not enough time to document them. Perhaps some day some of the projects they’ve
worked on or some of the ideas they’ve had will be documented further.</p>

<p>For now, enjoy the <a href="/blog/archive.html">archive of old posts</a> from when I
cared about posting.</p>
