main.post {
  max-width: 65rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  list-style: none;
  height: 300px;
  cursor: pointer;
  position: relative;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #888;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #aaa;
  width: 80%; /* Could be more or less, depending on screen size */
  z-index: 101;
}

.modal-content img {
  margin: auto;
  display: block;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* Simple alert boxes from w3schools, slightly modified - https://www.w3schools.com/howto/howto_js_alert.asp */

/* The alert message box */
.infobox {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #d1ecf1;
  color: #0c5460;
  margin-bottom: 15px;
  margin-right: 2rem;
  margin-left: 2rem;
  border: 1px solid;
}

.info-icon {
  position: relative;
  top: 0rem;
  left: 0rem;
  font-size: 3rem;
  margin-right: 1rem;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
