{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div> <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2> </div>
        <div>

            <!-- Gallery goes here. Somehow. -->
            <ul class="image-gallery">
            {{ range .Resources.ByType "image"}}
                <li><a onclick="img_click(event)" href="{{ .RelPermalink }}"><img src="{{ (.Resize "x400").RelPermalink | safeURL }}" data-fullsize="{{ .RelPermalink }}"></a></li>
            {{end}}
            </ul>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" onclick="close_modal(event)">
            <span class="close" onclick="close_modal(event)">&times;</span>
            <img id="modalImg" src="/images/curls.png" onclick="close_modal(event)">
        </div>
      
    </div>

    <script type="text/javascript" src="/js/gallery.js"></script>

{{ end }}
