<!DOCTYPE html>
<html lang="en">
{% include header.liquid %}
<body>
{% include body-nav.liquid %}
<div class="container container-center">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          {{ page.content }}
        </div>
      </div>
    </div>
    <div class="col-md-4 hidden-xs">
      {% include sidebar.liquid %}
    </div>
  </div>
</div>
{% include footer.liquid %}
</body>
</html>
