{% include header.liquid %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            {{ page.content }}
          </div>
        </div>
        <div class="col-md-4 hidden-xs">
          {% include sidebar.liquid %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.liquid %}
</div>
